@import "ea-style/variables";

.description1 {
  font-size: 25px;
}
.description2 {
  font-size: 25px;
}



.test-font-300-class {
  font-weight: 300;
}
.test-font-500-class {
  font-weight: 500;
}
.test-font-700-class {
  font-weight: 700;
}
.test-font-900-class {
  font-weight: 900;
}


.test-font-300-italic-class {
  font-weight: 300;
  font-style: italic;

}
.test-font-500-italic-class {
  font-weight: 500;
  font-style: italic;

}
.test-font-700-italic-class {
  font-weight: 700;
  font-style: italic;

}
.test-font-900-italic-class {
  font-weight: 900;
  font-style: italic;

}


.test-desktop-h1-class {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h2-class {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h3-class {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h4-class {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-body-class {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  color: $color-shadow-black;
}
.test-desktop-disclaimer-class {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
  color: $color-shadow-black;
}
