<div>
  typography-test works!
  <h1>museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
  <div class="type-h1">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
  <div class="test-desktop-h1-class">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
  <br />

  <h2>museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
  <div class="type-h2">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
  <div class="test-desktop-h2-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
  <br />
</div>
