<h3>Nested tabs - need to provide ID for each one</h3>
<eui-tabs id="aaa">
  <eui-tab-panel header="Parent 0">
    <eui-tabs id="bbb">
      <eui-tab-panel header="Child 0">
        Parent 0 - Child 0
      </eui-tab-panel>
      <eui-tab-panel header="Child 1">
        Parent 0 - Child 1
      </eui-tab-panel>
      <eui-tab-panel header="Child 2">
        Parent 0 - Child 2
      </eui-tab-panel>
    </eui-tabs>
  </eui-tab-panel>
  <eui-tab-panel header="Parent 1">
    Parent 1 - Child
  </eui-tab-panel>
  <eui-tab-panel header="Parent 2">
    Parent 2 - Child
  </eui-tab-panel>
</eui-tabs>

<h3>Default</h3>
<eui-tabs>
  <eui-tab-panel header="Godfather I">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    <label for="button-group-field">Label</label>
    <eui-button-group
      name="button-group-field"
      [options]="threeOptions"
      (valueChange)="onChange($event)"></eui-button-group>
  </eui-tab-panel>
  <eui-tab-panel header="Godfather II">
    The story begins as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
    <h3 class="first">Default</h3>
    <label for="button-group-field">Label</label>
    <eui-button-group
      name="button-group-field"
      [options]="threeOptions"
      (valueChange)="onChange($event)"></eui-button-group>  </eui-tab-panel>
  <eui-tab-panel header="Godfather III">
    After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
  </eui-tab-panel>
</eui-tabs>

<br><br>

<mat-tab-group>
  <mat-tab label="First Godfather I"> Content 1 </mat-tab>
  <mat-tab label="Second Godfather II"> Content 2 </mat-tab>
  <mat-tab label="Third Godfather III"> Content 3 </mat-tab>
</mat-tab-group>

<br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Godfather I</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Godfather II</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Godfather III</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Godfather IV</a>
  </li>
</ul>

<br><br>


