<!--<div style="display: flex">-->
<!--&lt;!&ndash;  accordion to Fred, all app in EA will have at least 10px padding left&ndash;&gt;-->
<!--  <span style="margin-left: 10px"></span>-->
<!--  <span>-->
<!--<h3 class="first">Default</h3>-->
<!--<eui-tooltip>-->
<!--  <div class="container">test tooltip</div>-->
<!--</eui-tooltip>-->

<!--<h3>Tooltip Above</h3>-->
<!--<eui-tooltip [positionAbove]="true">-->
<!--  <div class="container">test tooltip</div>-->
<!--</eui-tooltip>-->
<!--    </span>-->
<!--</div>-->
