<div style="display: flex">
<!--  accordion to Fred, all app in EA will have at least 10px padding left-->
  <span style="margin-left: 10px"></span>
  <span>
    <h3 class="first">Default</h3>
    <eui-tooltip>
      <div class="container">test tooltip</div>
    </eui-tooltip>

    <h3>Tooltip Above</h3>
    <eui-tooltip [positionAbove]="true">
      <div class="container">test tooltip</div>
    </eui-tooltip>
    </span>
</div>

<br>
<h3 class="first">Prime Positions</h3>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-3">
  </div>
  <div class="ui-g-12 ui-md-3">
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
  </div>
  <div class="ui-g-12 ui-md-3">
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
  </div>
  <div class="ui-g-12 ui-md-3">
    <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
  </div>
  <div class="ui-g-12 ui-md-3">
    <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
  </div>
</div>
