@import "ea-style/variables";
@import "ea-style/mixins";

.test-p-class {
  color: $color-bruised-violet;
  @include use-font(900);
}

.test-palette-class {
  width: 100px;
  height: 40px;
  background-color: $color-dusty-purple;
}


