<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  <li>
    <p-button icon="pi pi-check" label="Click" (onClick)="handleClick($event)"></p-button> PrimeNG Button Element with icon
  </li>
  <li></li>
  <li>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Search" (click)="handleClick($event)"></button> PrimeNG Button Directive with icon
  </li>
  <li></li>
  <li>
    <button class="ea-button-image-test" (click)="handleClick($event)">Annie Test</button>
  </li>
  <li></li>
  <li>
    Primary: <button class="ea-button ea-button--primary">Button</button>
  </li>
  <li></li>
  <li>
    Secondary: <button class="ea-button ea-button--secondary ea-button--micro icon-cog">Button</button>
  </li>
  <li></li>
  <li>
    <span class="icon-checkmark" style="font-size: 3em"></span>
    <span class="icon-close" style="font-size: 3em"></span>
  </li>
  <li></li>
  <li>
    <div>
      Note:
      - museo_sans_rounded500 is default value for use-font function, which contains all XXX300-XXX900, XXX300_italic-XXX900_italic value:
      - When museo_sans_roundedXXX is not found, it will auto falls back to  is default value for use-font function, which contains all XXX300-XXX900, XXX300_italic-XXX900_italic value:
    </div>

    <h3>Purely apply font-family (without font-size, line-height, color etc):</h3>
    <div class="test-font-300-class">museo_sans_rounded300 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-500-class">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-700-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-900-class">museo_sans_rounded900 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />
    <div class="test-font-300-italic-class">museo_sans_rounded300_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-500-italic-class">museo_sans_rounded500_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-700-italic-class">museo_sans_rounded700_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-900-italic-class">museo_sans_rounded900_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>

    <h3>Typographic for DESKTOP:</h3>
    <div class="test-desktop-h1-class">H1 - font-weight: 500;(use-font()); font-size: 44px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h2-class">H2 - font-weight: 700;(use-font(700)); font-size: 30px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h3-class">H3 - font-weight: 700;(use-font(700)); font-size: 25px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h4-class">H4 - font-weight: 700;(use-font(700)); font-size: 20px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-body-bold-class">Body Bold - font-weight: 500;(use-font()); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-body-class">Body - font-weight: 300;(use-font(300)); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-disclaimer-class">Disclaimer - font-weight: 300;(use-font(300)); font-size: 14px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <br />
    <div class="test-desktop-h1-class">H1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h2-class">H2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h3-class">H3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h4-class">H4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-body-bold-class">Body Bold - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-body-class">Body - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-disclaimer-class">Disclaimer - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />

  </li>
  <li></li>
  <li>
  <li>
    <p class="test-p-class">Test Text</p>
  </li>
  <li></li>
  <li>
    <eui-foo></eui-foo>
  </li>
</ul>

<router-outlet></router-outlet>
