@import "ea-style/variables";
@import "ea-style/mixins";

.test-p-class {
  color: $color-bruised-violet;
  @include use-font(900);
}

.test-font-300-class {
  @include use-font(300);
}
.test-font-500-class {
  @include use-font();
}
.test-font-700-class {
  @include use-font(700);
}
.test-font-900-class {
  @include use-font(900);
}


.test-font-300-italic-class {
  @include use-font(300, 'italic');
}
.test-font-500-italic-class {
  @include use-font(500, 'italic');
}
.test-font-700-italic-class {
  @include use-font(700, 'italic');
}
.test-font-900-italic-class {
  @include use-font(900, 'italic');
}


.test-desktop-h1-class {
  @include use-font();
  font-size: 44px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h2-class {
  @include use-font(700);
  font-size: 30px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h3-class {
  @include use-font(700);
  font-size: 25px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-h4-class {
  @include use-font(700);
  font-size: 20px;
  line-height: 1.4;
  color: $color-shadow-black;
}
.test-desktop-body-bold-class {
  @include use-font();
  font-size: 16px;
  line-height: 1.625;
  color: $color-shadow-black;
}
.test-desktop-body-bold-class {
  @include use-font(300);
  font-size: 16px;
  line-height: 1.625;
  color: $color-shadow-black;
}
.test-desktop-disclaimer-class {
  @include use-font(300);
  font-size: 14px;
  line-height: 1.4;
  color: $color-shadow-black;
}
