<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  <li>
    <p-button icon="pi pi-check" label="Click" (onClick)="handleClick($event)"></p-button> PrimeNG Button Element with icon
  </li>
  <li></li>
  <li>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Search" (click)="handleClick($event)"></button> PrimeNG Button Directive with icon
  </li>
  <li></li>
  <li>
    <button class="ea-button-image-test" (click)="handleClick($event)">Annie Test</button>
  </li>
  <li></li>
  <li>
    Primary: <button class="ea-button ea-button--primary">Button</button>
  </li>
  <li></li>
  <li>
    Secondary: <button class="ea-button ea-button--secondary ea-button--micro icon-cog">Button</button>
  </li>
  <li></li>
  <li>
    <span class="icon-checkmark" style="font-size: 3em"></span>
    <span class="icon-close" style="font-size: 3em"></span>
  </li>
  <li></li>
  <li>
    <app-typography-test></app-typography-test>
  </li>
  <li></li>
  <li>
    <div>
      Note:
      - museo_sans_rounded500 is default value for use-font function, which contains all XXX300-XXX900, XXX300_italic-XXX900_italic value:
      - When museo_sans_roundedXXX is not found, it will auto falls back to  is default value for use-font function, which contains all XXX300-XXX900, XXX300_italic-XXX900_italic value:
    </div>

    <h3>Purely apply font-family (without font-size, line-height, color etc):</h3>
    <div class="test-font-300-class">museo_sans_rounded300 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-500-class">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-700-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-900-class">museo_sans_rounded900 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />
    <div class="test-font-300-italic-class">museo_sans_rounded300_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-500-italic-class">museo_sans_rounded500_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-700-italic-class">museo_sans_rounded700_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-font-900-italic-class">museo_sans_rounded900_italic - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />
-------------------------------------- <br />

    <div class="description1">
      1. google chrome font-weight for h1-h5 are: bold, which is weight-weight: 700. Question: Do we need to manually set each font-weight to make sure it won't be overriden?
      <br />
      2. google chrome doesn't have default color (I couldn't find it from web). Color #333 seems the same as chrome default color to me. Question: Do we need to mannual set each color to make sure it's definitely #333?
      <br />
      3. h1-h5 as default setting for margin. Do we suggest people to reset it??
      <br />
      4. There is currently a Body Bold design, which is missing in _types_mixins.scss (only got ea-types-body)
      <br />
      5. There is currently a Disclaimer design, which is missing in _types_mixins.scss (only got ea-types-body)
      <br />
      6. How to apply gobal style.
      <br />
      ...
      <br />
      8. ea-types-weight only got 300, 500, 700, 900. It's missing the 300_italic, 500_italic, 700_italic, 900_italic that are currently missing. Shall we add them into ea-styoes-weight??
      <br />
      9. Again, the font-weight maybe overriden by User agent style (depend on the browser), shall we add the reinforcement into ea-types-weight?
      <br />
      Quetions to Friz:
      <br />
      A: Only Desktop has Body Bold, is it missing in the tablet and mobile version? Answer: can remove Body Bold, not used.
      <br />
      B: The Tablet has two body section and missing disclaimer, Is one of them disclaimer? Answer: The second one is disclaimer.
      <br />
      C: Fritz also said we could get rid of tablet design.

      <br />
      To myself:
      <br />
      I: Make ea-five-stars() working from _types-mixins.scss. -- Done.
      <br />
      II: Rename eauicomp.css to ea-ui.css from gulp files.
      <br />
      III: Test Tablet and Mobile is correct as the designer describe in invision/zeplin.
      <br />
      IIII: Make note in the Demo page about the no use legacy fonts that are currently comment oiut in the _fonts.scss file
      <br />
      <br />
    </div>

    <div class="description2">
      Desktop:
      <br />
      H1 ----------- font-weight: 500;(weight-500); font-size: 44px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H2 ----------- font-weight: 700;(weight-700); font-size: 30px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H3 ----------- font-weight: 700;(weight-700); font-size: 25px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H4 ----------- font-weight: 700;(weight-700); font-size: 20px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      Body Bold -- font-weight: 500;(weight-500); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);
      <br />
      Body --------- font-weight: 300;(weight-300); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);
      <br />
      Disclaimer -- font-weight: 300;(weight-300); font-size: 14px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      <br />

      Tablet:
      <br />
      H1 ----------- font-weight: 500;(weight-500); font-size: 40px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H2 ----------- font-weight: 700;(weight-700); font-size: 27px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H3 ----------- font-weight: 700;(weight-700); font-size: 22px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H4 ----------- font-weight: 700;(weight-700); font-size: 18px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      Body Bold -- Missing????
      <br />
      Body --------- font-weight: 300;(weight-300); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);
      <br />
      Disclaimer -- font-weight: 300;(weight-300); font-size: 14px; line-height: 1.625; color: #333;($color-shadow-black); ??? Is this disclaimer, why line-height didnt' change compared to desktop???
      <br />
      <br />

      Mobile:
      <br />
      H1 ----------- font-weight: 500;(weight-500); font-size: 30px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H2 ----------- font-weight: 700;(weight-700); font-size: 24px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H3 ----------- font-weight: 700;(weight-700); font-size: 20px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      H4 ----------- font-weight: 700;(weight-700); font-size: 16px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      Body Bold -- Missing????
      <br />
      Body --------- font-weight: 300;(weight-300); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);
      <br />
      Disclaimer -- font-weight: 300;(weight-300); font-size: 12px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />
      <br />

      Global:
      <br />
      Body --------- font-weight: 300;(weight-300); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);
      <br />
      Disclaimer -- font-weight: 300;(weight-300); font-size: 14px; line-height: 1.4; color: #333;($color-shadow-black);
      <br />

    </div>

    <br />
    <br />
    -------------------------------------- <br />


    <h1>museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</h1>
    <div class="type-h1">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h1-class">museo_sans_rounded500 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />

    <h2>museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</h2>
    <div class="type-h2">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h2-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />

    <h3>museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</h3>
    <div class="type-h3">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h3-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />

    <h4>museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</h4>
    <div class="type-h4">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h4-class">museo_sans_rounded700 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />


    --------------------------------------



    <h3>Typographic for DESKTOP:</h3>
    <div class="test-desktop-h1-class">H1 - font-weight: 500;(use-font()); font-size: 44px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h2-class">H2 - font-weight: 700;(use-font(700)); font-size: 30px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h3-class">H3 - font-weight: 700;(use-font(700)); font-size: 25px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-h4-class">H4 - font-weight: 700;(use-font(700)); font-size: 20px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-body-bold-class">Body Bold - font-weight: 500;(use-font()); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-body-class">Body - font-weight: 300;(use-font(300)); font-size: 16px; line-height: 1.625; color: #333;($color-shadow-black);</div>
    <div class="test-desktop-disclaimer-class">Disclaimer - font-weight: 300;(use-font(300)); font-size: 14px; line-height: 1.4; color: #333;($color-shadow-black);</div>
    <br />
    <div class="test-desktop-h1-class">H1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h2-class">H2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h3-class">H3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-h4-class">H4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-body-bold-class">Body Bold - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-body-class">Body - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <div class="test-desktop-disclaimer-class">Disclaimer - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, provident?</div>
    <br />
    <h1>H1 heading</h1>
    <div class="type-h1">H1 heading</div>

  </li>
  <li></li>
  <li>
  <li>
    <p class="test-p-class">Test Text</p>
  </li>
  <li></li>
  <li>
    <eui-foo></eui-foo>
  </li>
</ul>

<router-outlet></router-outlet>
