<button class="ea-button ea-button--primary" (click)="handleClick($event)">Primary</button>

<eui-modal [id]="MODAL1_ID" title="Regular Modal">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin ligula convallis augue eleifend, a
  congue odio dapibus. Sed laoreet sagittis commodo. Ut posuere bibendum nisi, accumsan vulputate lectus tincidunt
  scelerisque. Mauris sit amet velit sit amet odio porta blandit. Curabitur ac metus vitae lorem malesuada
  condimentum ut eu libero.
</eui-modal>
