<!--<h2>Here are some links to help you start: </h2>-->
<ul>
  <li>
    <button class="ea-button ea-button--primary">Primary</button>
    <button class="ea-button ea-button--secondary">Secondary</button>
    <button class="ea-button ea-button--hero">Hero</button>
    <button class="ea-button ea-button--ghost">Ghost</button>
  </li>
  <li>
    <span class="icon-checkmark" style="font-size: 3em"></span>
    <span class="icon-checkmark-T2" style="font-size: 3em"></span>
  </li>
  <li><a href="textfield">TextField</a></li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
