<ul>
  <li>
    <a routerLink="/icons-svg" routerLinkActive="active">Icons svg</a>
  </li>
  <li>
    <a routerLink="/progress-indicator" routerLinkActive="active">Progress Indicator</a>
  </li>
  <li>
    <a routerLink="/tabs" routerLinkActive="active">Tabs</a>
  </li>
  <li>
    <a routerLink="/tooltip" routerLinkActive="active">Tooltip</a>
  </li>
  <li>
    <div class="message-custom-location"></div>
    <button (click)="showMessage('warning')" class="ea-button ea-button--primary ea-button--micro">warn</button>
  </li>
  <li><a href="fielderror1">FieldError1: Template driven + errorVisible</a></li>
  <li><a href="fielderror2">FieldError2: Template driven + euiForm (form submit event)</a></li>
  <li><a href="fielderror3">FieldError3: Reactive form + errorVisible + child component</a></li>
  <li><a href="fielderror4">FieldError4: Reactive form + euiForm (form submit event) + child component</a></li>
  <li>
    <eui-spinner [showSpinner]="shouldShowSpinner"></eui-spinner>
  </li>
  <li>
    <a routerLink="/checkbox" routerLinkActive="active">CheckBox</a>
  </li>
  <li>
    <a routerLink="/radiobutton" routerLinkActive="active">RadioButton</a>
  </li>
  <li>
    <a routerLink="/buttongroup" routerLinkActive="active">ButtonGroup</a>
  </li>
  <li>
    <a routerLink="/dropdown" routerLinkActive="active">DropDown</a>
  </li>
  <li>
    <a routerLink="/textfield" routerLinkActive="active">TextField</a>
  </li>
  <li>
    <a routerLink="/textfield-lazyload" routerLinkActive="active">TextField LazyLoad</a>
  </li>
  <li>
    <a routerLink="/textarea" routerLinkActive="active">TextArea</a>
  </li>
  <li>
    <a routerLink="/modal" routerLinkActive="active">Modal</a>
  </li>
  <li>
    <a routerLink="/autocomplete" routerLinkActive="active">AutoComplete</a>
  </li>
  <li>
    <a routerLink="/accordion" routerLinkActive="active">Accordion</a>
  </li>
  <li>
    From my-angular-app component -- testcomp: <app-testcomp flag=null></app-testcomp>
  </li>
  <li></li>
  <li>
    Primary: <button class="ea-button ea-button--primary">Button</button>
  </li>
  <li></li>
  <li>
    Secondary: <button class="ea-button ea-button--secondary ea-button--micro icon-cog">Button</button>
  </li>
  <li></li>
  <li>
    <span class="icon-checkmark" style="font-size: 3em"></span>
    <span class="icon-close" style="font-size: 3em"></span>
  </li>
  <li></li>
  <li>
    <a routerLink="/typographic" routerLinkActive="active">Typographic</a>
  </li>
  <li>
    <p class="weight-900">Test Text</p>
    <p class="test-p-class">Test Text</p>
    <div class="test-palette-class"></div>
  </li>
</ul>
