<ul>
  <li>
    <div class="message-custom-location"></div>
    <button (click)="showMessage('warning')" class="ea-button ea-button--primary ea-button--micro">warn</button>
  </li>
  <li>
    <eui-spinner [showSpinner]="shouldShowSpinner"></eui-spinner>
  </li>
  <li>
    <a routerLink="/dropdown" routerLinkActive="active">DropDown</a>
  </li>
  <li>
    <a routerLink="/textfield" routerLinkActive="active">TextField</a>
  </li>
  <li>
    <a routerLink="/modal" routerLinkActive="active">Modal</a>
  </li>
  <li>
    From my-angular-app component -- testcomp: <app-testcomp flag=null></app-testcomp>
  </li>
  <li>
    <p-button icon="pi pi-check" label="Click" (onClick)="handleClick($event)"></p-button> PrimeNG Button Element with icon
  </li>
  <li></li>
  <li>
    <button pButton type="button" icon="pi pi-search" iconPos="right" label="Search" (click)="handleClick($event)"></button> PrimeNG Button Directive with icon
  </li>
  <li></li>
  <li>
    <button class="ea-button-image-test" (click)="handleClick($event)">Annie Test</button>
  </li>
  <li></li>
  <li>
    Primary: <button class="ea-button ea-button--primary">Button</button>
  </li>
  <li></li>
  <li>
    Secondary: <button class="ea-button ea-button--secondary ea-button--micro icon-cog">Button</button>
  </li>
  <li></li>
  <li>
    <span class="icon-checkmark" style="font-size: 3em"></span>
    <span class="icon-close" style="font-size: 3em"></span>
  </li>
  <li></li>
  <li>
    <a routerLink="/typographic" routerLinkActive="active">Typographic</a>
  </li>
  <li>
    <p class="weight-900">Test Text</p>
    <p class="test-p-class">Test Text</p>
    <div class="test-palette-class"></div>
  </li>
  <li>
    <eui-foo></eui-foo>
  </li>
</ul>
